/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/04/2017, 03:51:20 PM
    Author     : christian
*/
.tabledata td{
    padding: 3px;
}
li.active{
    color:red;
}
.beta {
    color:#666666;
    display: inline-block;
}
.mensaje{
    color:red;
}
